!!! 5
html(lang="en")
  head
    title statusQuo
    
    //Meta
    meta(charset="utf-8")
    | <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
    
    // Javscripts
    script(type = "text/javascript", src = "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(type = "text/javascript", src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
    script(type = "text/javascript", src = "http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js")
    script(type = "text/javascript", src = "http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js")
    script(type = "text/javascript", src = "/socket.io/socket.io.js")
    script(type = "text/javascript", src = "/javascripts/smoothie.js")
    script(type = "text/javascript", src = "/javascripts/statusQuo.js")
    // Stylesheets
    link(rel="stylesheet", type='text/css', href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono")
    link(rel="stylesheet", type='text/css', href="/stylesheets/base.css")
  body(class = body_classes)
    #curtain
    !=messages
    header#top
      h1#logo.ok
        a(href='/',title="Go home")
          em the
          | StatusQuo
      - if (authenticated)
        a#server_add.button(href="/server/new") Add Server
        - if (isFront)
          a.refresh.button(href="javascript:void()") Refresh Dashboard
            span.countdown
      nav#eyebrow
        - if (authenticated)
          img.picture(src=user.picture, alt=user.name)
          span= user.name
          a(href='/') Dashboard
          a(href='/user') Account Settings
          a(href="/logout") Log Out
    #main!= body