!!! 5
html(lang="en")
  head
    title statusQuo
    
    //Meta
    meta(charset="utf-8")
    | <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
    
    // Javscripts
    script(type = "text/javascript",src = "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(type = "text/javascript",src = "/socket.io/socket.io.js")
    script(type = "text/javascript",src = "/javascripts/statusQuo.js")
    // Stylesheets
    link(rel="stylesheet", type='text/css', href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono")
    link(rel="stylesheet", type='text/css', href="/stylesheets/base.css")
  body(class = body_classes)
    #curtain
    !=messages
    header
      h1#logo.ok
        a(href='/',title="Go home")
          em the
          | StatusQuo
      - if (authenticated)
        a#server_add.button(href="/server/new") Add Server
      nav#eyebrow
        - if (authenticated)
          img.picture(src=session.user.picture, alt=session.user.name)
          span= session.user.name
          a(href='/') Dashboard
          a(href='/user') Account Settings
          a(href="/logout") Log Out
        - else
          a#login(href="/login")
            img(src="http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png")
    #main!= body