header
  h1= title
p It appears this is your first time logging in! Please fill out the remaining below to steup your account
form#account_setup(method='post')
  ul  
      
    li.screen_name
      img.profile_picture(src=user.profile_image_url, alt="Your twitter profile picture")
      h2= user.screen_name
      input(type="hidden", name="user[username]", value=user.screen_name)
      input(type="hidden", name="user[picture]", value=user.profile_image_url)
    li.name
      label(for="user[name]") Name
      input(type="text", name="user[name]", value=user.name)
    li.email
      label(for="user[email]") Email
      input(type="email", name="user[email]")
    li
      input.button.save(type="submit", value="Create your account")
      a.button.cancel(href="/") Cancel