- if (!service.id) indexInCollection = "$n"
- var i = indexInCollection, type = service.type || 'http'

li.service(id=service.id || '')
  input.type(type="hidden",name="server[services]["+i+"][type]", value=type)
  - if(service.id)
    input.id(type="hidden",name="server[services]["+i+"][id]", value=service.id)
  .message
  ul
    li.type= type
    li.checkboxes.enabled
      label
        input(type="checkbox", name='server[services]['+i+'][enabled]', value="true", checked=(service.enabled  || i == '$n')?'checked':false) 
        | Enabled
      - if (service.type != 'ping')
        label
          input(type="checkbox", name='server[services]['+i+'][public]', value="true", checked=(service.public  || i == '$n')?'checked':false) 
          | Public
    // Display slightly different if it's the default ping service
    - if (service.type == 'ping')
      input.type(type="hidden",name="server[services]["+i+"][name]", value=service.name)
      input.type(type="hidden",name="server[services]["+i+"][public]", value=false)
    - else
      li.name
        input(type="text", placeholder="Service Name", name='server[services]['+i+'][name]', value=service.name||'')
      li.url
        input(type="url", placeholder="URL", name='server[services]['+i+'][url]', value=service.url||'')
    // /else
    
    li.delta
      input(type="number", name='server[services]['+i+'][delta]', value=service.delta||'0', size=2, maxlength=2)
    - if (service.type != 'ping')
      li.deleteService
        a.delete.button.transparent(href="javascript:void(0)") Delete Service
        input.delete(type="hidden", name="server[services]["+i+"][delete]", value="false")