.server.detail(id='detail_'+server.id||'', data-ip=server.ip||'')
  header
    h2= server.name
      em= server.ip
    .types!= server.typeListPretty
    .buttons
      a.edit.button(href='/server/'+server.id+'/edit') Edit
  section.ping
    .responseTime
    canvas#ping_graph(width="600", height="100")
  section.services
    h3 Services
    - each service in server.services
      .service(id=service.id, data-server=server.id, class=(service.lastStatus)?service.lastStatus.toLowerCase():'')
        .loader
        .name= service.name
        .url= service.url
        .message= service.lastStatus
        .details
  footer